body {
  background: rgb(90, 185, 196);
  background: linear-gradient(
    180deg,
    rgb(181, 234, 239) 4%,
    rgba(150, 87, 87, 0.474) 57%,
    rgba(225, 107, 107, 0.119) 80%
  );
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#container,
.form {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 50px;
}

label,
input {
  font-size: 20px;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(197, 237, 241);
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 50px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background-color: rgb(153, 209, 214);
}

input[type="submit"]:hover {
  border: 2px solid grey;
  box-shadow: 0 0 2px 2px rgb(241, 248, 249);
  background-color: rgb(156, 207, 211);
}

#display-form-data {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  border: 2px solid rgb(71, 106, 71);
  width: 80vw;
  height: fit-content;
  background-color: rgb(143, 172, 176);
}

.display-data {
  text-align: center;
  width: 400px;
  height: fit-content;
  padding: 20px;
  margin: 15px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(99, 180, 209);
  font-size: 20px;
}

.heading {
  color: black;
}
